1 ICON DISCARDABLE "fbdebugger.ico"
1000 BITMAP DISCARDABLE "./buttons/step.bmp"
1001 BITMAP DISCARDABLE "./buttons/runto.bmp"
1002 BITMAP DISCARDABLE "./buttons/step_over.bmp"
1003 BITMAP DISCARDABLE "./buttons/step_out.bmp"
1004 BITMAP DISCARDABLE "./buttons/auto.bmp"
1005 BITMAP DISCARDABLE "./buttons/run.bmp"
1006 BITMAP DISCARDABLE "./buttons/stop.bmp"
1007 BITMAP DISCARDABLE "./buttons/minicmd.bmp"
1008 BITMAP DISCARDABLE "./buttons/free.bmp"
1009 BITMAP DISCARDABLE "./buttons/kill.bmp"
1010 BITMAP DISCARDABLE "./buttons/restart.bmp"
1011 BITMAP DISCARDABLE "./buttons/multiexe.bmp"
1012 BITMAP DISCARDABLE "./buttons/attachexe.bmp"
1013 BITMAP DISCARDABLE "./buttons/files.bmp"
1014 BITMAP DISCARDABLE "./buttons/notes.bmp"
1015 BITMAP DISCARDABLE "./buttons/tools.bmp"
1016 BITMAP DISCARDABLE "./buttons/exemod.bmp"
1017 BITMAP DISCARDABLE "./buttons/fastrun.bmp"
1018 BITMAP DISCARDABLE "./buttons/source.bmp"
1019 BITMAP DISCARDABLE "./buttons/varproc.bmp"
1020 BITMAP DISCARDABLE "./buttons/memory.bmp"
1021 BITMAP DISCARDABLE "./buttons/notes2.bmp"
1022 BITMAP DISCARDABLE "./buttons/step_start.bmp"
1023 BITMAP DISCARDABLE "./buttons/step_end.bmp"

